{% extends 'base.html' %}
{% load prettify_number %}

{% block body %}
    <div style="margin-top:42px;font-family:Roboto;font-size:24px;line-height:44px;padding-left:70px;">
        <div style="display:inline-block;width:60%;">Successful transaction</div>
        <div style="display:inline-block;width:33%;text-align:center;">
            {% if sign %}
                <span>{{ sign }}</span>
            {% endif %}
            {{ currency.symbol }}
            {{ amount|prettify_number }}
        </div>
    </div>
    <div style="margin-top:10px;font-family:Roboto;font-size:14px;line-height:26px;padding-left:70px;color:#708090;">
        <div>{{ processed_datetime|date:"Y/m/d H:i" }}</div>
        <div style="margin-top:-5px;">{% if payment_type %}{{ payment_type }}, {% endif %}{{ schedule_name }}</div>
    </div>
    <hr style="width:77%;margin-top:24px;background-color:#D3D3D3;height:1px;border:0;">
    {% if closing_balance %}
        <div style="margin-top:32px;font-family:Roboto;font-size:14px;line-height:26px;padding-left:70px;">
            <div style="display:inline-block;width:75%;color:#708090;">Wallet available balance:</div>
            <div style="display:inline-block;width:20%;font-weight:bold;">
                {{ currency.symbol }}
                {{ closing_balance|prettify_number }}
            </div>
        </div>
    {% endif %}
{% endblock %}
