{% extends 'base.html' %}
{% load prettify_number %}

{% block body %}
    <div style="margin-top:42px;font-family:Roboto;font-size:34px;line-height:44px;text-align:center">
        Hi, you received a request.
    </div>

    <hr style="width:77%;margin-top:34px;background-color:#e6e6e6;height:1px;border:0;">

    <div style="margin-top:30px;font-size:15px;line-height:30px;padding-left:70px;">

        <div style="display:inline-block;width:30%;font-family:Roboto;color:#697386;">Escrow name</div>
        <div style="display:inline-block;width:65%;font-family:Roboto Bold;text-align:left;color:#000000;">{{ operation.escrow.name }}</div>

        <div style="display:inline-block;width:30%;font-family:Roboto;color:#697386;">Counterpart</div>
        <div style="display:inline-block;width:65%;font-family:Roboto Bold;text-align:left;color:#000000;">{{ counterpart.email }}</div>

        <div style="display:inline-block;width:30%;font-family:Roboto;color:#697386;">To fund</div>
        <div style="display:inline-block;width:65%;font-family:Roboto Bold;text-align:left;color:#000000;">
            {{ operation.escrow.currency.symbol }}
            {{ operation.amount|prettify_number }}
        </div>

    </div>

    <hr style="width:77%;margin-top:34px;background-color:#e6e6e6;height:1px;border:0;">

    <div style="margin-top:32px;font-family:Roboto;font-size:15px;line-height:26px;color:#708090;text-align:center;">
        Please login to your account at <a href="{{link}}">GoCustomate</a> to action the request.
    </div>
{% endblock %}
