{% extends 'base.html' %}
{% load prettify_number %}

{% block body %}
        <div style="margin-top:42px;font-family:Roboto;font-size:24px;line-height:44px;padding-left:70px;">
        <div style="margin-top:10px;font-family:Roboto;font-size:14px;line-height:26px;color:#708090;">
            Hi {{ escrow_funder }},
            you've got a propose to fund Escrow {{ escrow_name }} from {{ funds_recipient }}.
        </div>
        <div style="margin-top:10px;font-family:Roboto;font-size:14px;line-height:26px;color:#708090;">
            Please login to your account at <a href="{{link}}">GoCustomate</a> to action the request.
        </div>
    </div>
{% endblock %}
